*{
    margin: 0;
    padding: 0;
}

#snakebox{
    margin: auto;
    width: 50vw;
    height: 90vh;
    border: 0.3vw solid black;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

.snakehead{
    box-sizing: border-box;
    border: 0.1vw solid black;
    background-color: rebeccapurple;
}

.snake{
    box-sizing: border-box;
    border: 0.1vw solid black;
    background-color: greenyellow;
    
}

.food{
    box-sizing: border-box;
    border: 0.1vw solid black;
    background-color: red;
}
#scoreboard{
    border: 0.1vw solid black;
    position: absolute;
    right: 0;
    font-size: 40px;
    width: 20vw;
    height: fit-content;
}
#highscore{
    border: 0.1vw solid black;
    position: absolute;
    left: 0;
    top: inherit;
    font-size: 40px;
    width: 20vw;
    height: fit-content;
}
#speedbox{
    border: 0.1vw solid black;
    position : relative;
    top:0;
    font-size: 30px;
}

